
swagger: "2.0"

info:
  title: "Rental System"
  version: "1.0"
host: lab.daychen.tw

securityDefinitions:
  Jwt:
    type: apiKey
    name: Authorization
    in: header

tags:
  - name: Profile
    description: Points and rental records
  - name: Rental
    description: Rental and items
  - name: JWT Authentication
    description: authentication
paths:
  /profile/:
    get:
      tags:
      - Profile
      # security:
        # - Jwt: []
      summary: 'Points and rental records'
      responses:
        '200':
          description: 'Points and rental records'
          schema:
            type: object
            properties:
              point:
                type: integer
                example: 10
              lends:
                type: array
                items:
                  $ref: '#/definitions/LentItems'

  /items/:
    get:
      tags: 
      - Rental
      summary: 'Fetch a list of items'
      responses:
        '200':
          description: 'Fetch a list of items'
          schema:
            type: array
            items:
              $ref: '#/definitions/Items'
  /items/image/{item_id}:
    get:
      tags:
      - Rental
      summary: 'Get the URL of the item image'
      x-swagger-router-controller: api.items
      operationId: "get_item_image"
      parameters:
      - name: item_id
        in: path
        required: true
        type: string
        format: path
      responses:
        '200':
          description: 'Get the URL of the item image'
  /items/create/:
    post:
      tags:
      - Rental
      summary: 'Add items to the rental system'
      description: "Add items to the rental system"
      x-swagger-router-controller: api.items
      operationId: "create_item"
      consumes:
      - multipart/form-data
      parameters:
      - in: formData
        name: image
        description: "The image to be uploaded"
        type: file
      - in: formData
        name: categoryname
        type: string
        required: true
      - in: formData
        name: name
        type: string
        required: true
      responses:
        '200':
          description: 'Get item id'
  /items/get-category/:
    get:
      tags: 
      - Rental
      summary: 'Fetch a list of item categories'
      x-swagger-router-controller: api.items
      operationId: get_category
      responses:
        '200':
          description: 'Fetch a list of item categories'
          schema:
            type: array
            items:
              $ref: '#/definitions/ItemCategory'
  /items/rent/:
    post:
      tags:
      - Rental
      summary: 'Rental items'
      x-swagger-router-controller: api.items
      operationId: rent
      parameters:
        - in: body
          name: data
          description: "Enter the ID of the item"
          required: true
          schema:
            type: object
            properties:
              item_id:
                type: integer
                format: int64

      responses:
        '200':
          description: 'Rental items'
          schema:
            type: object
            properties:
              message:
                type: string
  /items/return/:
    post:
      tags:
      - Rental
      summary: "Return items"
      x-swagger-router-controller: api.items
      operationId: returned
      parameters:
        - in: body
          name: data
          description: "rental id"
          required: true
          schema:
            type: object
            properties:
              lend_id:
                type: integer
                format: int64
      responses:
        '200':
          description: 'Return items'
          schema:
            type: object
            properties:
              message:
                type: string
  /auth/:
    post:
      tags:
      - JWT Authentication
      summary: 'Get access token'
      parameters:
        - in: body
          name: data
          description: 'Get access token'
          required: true
          schema:
            $ref: '#/definitions/Account'
      responses:
        '200':
          description: 'get token'
        '400':
          description: 'Miss'
        '401':
          description: 'Error username or password'
  /auth/create-user/:
    post:
      tags:
        - JWT Authentication
      summary: 'Create new account'
      x-swagger-router-controller: api.auth
      operationId: create_user
      parameters:
        - in: body
          name: data
          description: 'Create user'
          required: true
          schema:
            $ref: '#/definitions/Account'
      responses:
        '201':
          description: 'create user'

definitions:
  ItemCategory:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
        example: Stationery
  Items:
    type: object
    properties:
      id:
        type: integer
        format: int64
      category-id:
        type: integer
        format: int64
      name: 
        type: string
        example: Scissors
      amount:
        type: integer
        example: 5
  LentItems:
    type: object
    properties:
      id:
        type: integer
        format: int64
      item_id:
        type: integer
        format: int64
      name: 
        type: string
        example: Scissors
      return:
        type: boolean
        example: false

  Account:
    type: object
    required:
      - username
      - password
    properties:
      username:
        type: string
      password:
        type: string

      
      
